@model IEnumerable<Data.Models.Order>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        @if (Model != null)
        {
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => order.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.IsClosed)
                    </td>
                    <td>
                        @Html.ActionLink(order.Number, "Details", new { id = order.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Person.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Status.Text)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>