@model OrdersViewModel

@{
    ViewData["Title"] = "指図";
}

<h1>指図</h1>

@if (Model != null)
{
    <p>@Model.Pages ページ中 @Model.Page ページ目 (@Model.Total 件中 @Model.Start - @Model.End)</p>

    <partial name="Partial/PrevNext" model=Model />
    <partial name="Partial/Search" model=Model.Result?.Condition />
    <partial name="Partial/Table" model=Model.Result?.Data />
    <partial name="Partial/PrevNext" model=Model />
}
